<%= provide(:title, 'About Me') %>
    <h1>About Me</h1>
    <p>
	I am a recent graduate from the University of Maryland, College Park.  I like to play Starcraft and meddle in music production.  I like McDonald's.
    </p>
