<div class="center hero-unit">
	<h1>My Home</h1>

    <h2>
    	This is the home page for Sang's 3rd ever rails app!
    </h2>

<<<<<<< HEAD
    <%= link_to "Register here", '#', class: "btn btn-large btn-primary" %>
=======
    <%= link_to "Register here", signup_path, class: "btn btn-large btn-primary" %>
>>>>>>> static-pages
</div>

<%= link_to image_tag("sang.png", alt: "Sang", size: "200x200"), 'http://www.sangdukseo.com/' %>

